<section class="gallery">
    <div class="container gallery__container">
        <h2 class="visually-hidden">IceCream Gallery</h2>
        <!-- <picture>
            <source
                srcset="./images/gallery/gallery-desktop.webp 1x, ./images/gallery/gallery-desktop@2x.webp 2x, ./images/gallery/gallery-desktop@3x.webp 3x"
                media="(min-width: 1200px)" type="image/webp">
            <source
                srcset="./images/gallery/gallery-desktop.png 1x, ./images/gallery/gallery-desktop@2x.png 2x, ./images/gallery/gallery-desktop@3x.png 3x"
                media="(min-width: 1200px)">
            <source
                srcset="./images/gallery/gallery-tablet.webp 1x, ./images/gallery/gallery-tablet@2x.webp 2x, ./images/gallery/gallery-tablet@3x.webp 3x"
                media="(min-width: 768px)" type="image/webp">
            <source
                srcset="./images/gallery/gallery-tablet.png 1x, ./images/gallery/gallery-tablet@2x.png 2x, ./images/gallery/gallery-tablet@3x.png 3x"
                media="(min-width: 768px)">
            <source
                srcset="./images/gallery/gallery-mobile.webp 1x, ./images/gallery/gallery-mobile@2x.webp 2x, ./images/gallery/gallery-mobile@3x.webp 3x"
                media="(max-width: 767px)" type="image/webp">
            <source
                srcset="./images/gallery/gallery-mobile.png 1x, ./images/gallery/gallery-mobile@2x.png 2x, ./images/gallery/gallery-mobile@3x.png 3x"
                media="(max-width: 767px)">
            <img class="gallery-image" src="./images/gallery/gallery-desktop.png" alt="мороженое и довольные клиенты"
                width="1280px">
        </picture> -->
        <div class="gallery__item gallery__item_number_1">
            <img src="/images/masonry/ice1.png" alt="dog is licking icecream" class="gallery__img">
        </div>
        <div class="gallery__item gallery__item_number_2">
            <img src="/images/masonry/ice.png"
                alt="tasty-ice-cream-vanilla-strawberry-scoops-in-blue-bowls-on-yellow-vibrant-background"
                class="gallery__img">
        </div>
        <div class="gallery__item gallery__item_number_3">
            <img src="images/masonry/ice3.png" alt="medium-shot-girls-eating-ice-cream" class="gallery__img">
        </div>
        <div class="gallery__item gallery__item_number_4">
            <img src="images/masonry/ice4.png" alt="a-hand-holding-a-melty-caramel-ice-cream" class="gallery__img">
        </div>
        <div class="gallery__item gallery__item_number_5">
            <img src="images/masonry/ice5.png" alt="copy-space-ice-cream-with-orange-flavour" class="gallery__img">
        </div>
        <div class="gallery__item gallery__item_number_6">
            <img src="images/masonry/ice6.png" alt="milkshake-with-icecream" class="gallery__img">
        </div>
        <div class="gallery__item gallery__item_number_7">
            <img src="images/masonry/ice7.png" alt="top-view-ice-cream-vanilla-flavour-and-strawberries"
                class="gallery__img">
        </div>
        <div class="gallery__item gallery__item_number_8">
            <img src="images/masonry/ice9.png" alt="ice-cream-with-berries" class="gallery__img">
        </div>
        <div class="gallery__item gallery__item_number_9">
            <img src="images/masonry/ice8.png"
                alt="vertical-closeup-shot-of-a-female-hand-holding-a-raw-vegan-ice-cream-on-stick"
                class="gallery__img">
        </div>
        <div class="gallery__item gallery__item_number_10">
            <img src="images/masonry/ice-main.png" alt="wooden-board-with-ice-cream-on-cone" class="gallery__img">
        </div>
    </div>
    <!-- <div class="elements-gride">
        <img class="element-item" src="/images/masonry/ice1.png" />
        <img class="element-item" src="/images/masonry/ice.png" />
        <img class="element-item" src="/images/masonry/ice3.png" />
        <img class="element-item" src="/images/masonry/ice4.png" />
        <img class="element-item" src="/images/masonry/ice-main.png" />
        <img class="element-item" src="/images/masonry/ice5.png" />
        <img class="element-item" src="/images/masonry/ice6.png" />
        <img class="element-item" src="/images/masonry/ice7.png" />
        <img class="element-item" src="/images/masonry/ice8.png" />
        <img class="element-item" src="/images/masonry/ice9.png" />
    </div> -->
</section>